<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>81696128202-thcuf5errfb76libuos6vs7eo369r7dd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.81696128202-thcuf5errfb76libuos6vs7eo369r7dd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>81696128202-i1jqrp97rp71j9j7h6i7vs48u974sqq8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCS1gPYvp7lmq1ockpkSsJBWF65h__Wv1c</string>
	<key>GCM_SENDER_ID</key>
	<string>81696128202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterliveclass</string>
	<key>PROJECT_ID</key>
	<string>flutter-class-telugu</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-class-telugu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81696128202:ios:4fa304bfe246d875cac833</string>
</dict>
</plist>